h1
{
Color:red;
Text-align:center;
}

h2
{
Color:white;
}

body
{
 background-image: url("pizza2.gif");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size:99.5% 100%; 
} 

ul
{
Color:yellow;
Font-Family: Merriweather
}

TR
{
Color:orange;
}



